.section {
    border-bottom: 1px solid rgba(var(--clr-black), .1);
}

/* ############# HERO SECTION ############# */
.section_hero {
    padding: 5rem 0;
}

.container_hero {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.container_hero>* {
    max-width: 50%;
}

.hero-text .text-accent {
    margin-bottom: 1rem;
}

.hero-text .text-heading {
    margin-bottom: 3rem;
}


.hero-text .text-body {
    max-width: 80%;
    margin-bottom: 6.4rem;
}

.hero-text .btn {
    width: fit-content;
}


.sponsors {
    width: 70% !important;
    margin-top: 7rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    opacity: .7;
    opacity: .3;
}

.sponsors i {
    margin-top: 1rem;
    font-size: .5em;
    opacity: .5;
}



.hero-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}


/* ################ NEXT-GAME SECTION ############### */
.section_next-game {
    padding: 15rem 0;
}

.next-game {
    --color: var(--clr-white);
    height: 100%;
    isolation: isolate;
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: center;
    position: relative;
}


.next-game-content {
    grid-column: 1;
    grid-row: 1;
    width: 77%;
    height: 100%;
    padding: 5rem 0;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.next-game_empty .next-game-content>*:not(.loading-icon) {
    display: none;
}

.next-game_empty .loading-icon {
    display: flex;
}

.counter {
    display: flex;
    gap: 2rem;
    margin-bottom: 2.6rem;
}

.counter-element {
    font-size: var(--fz-800);
    font-weight: var(--fw-extra-bold);
    color: rgb(var(--clr-accent));
}

.counter-element span {
    display: block;
    font-size: var(--fz-300);
    font-weight: var(--fw-regular);
    color: rgb(var(--color), .5);
    text-transform: uppercase;
}


.next-game-content .text-heading {
    margin-bottom: 1rem;
    font-size: var(--fz-700);
    font-weight: var(--fw-bold);
    color: rgba(var(--color), .8);
    text-align: center;
}



.next-game-content .text-body {
    margin-bottom: 4rem;
    text-align: center;
    color: rgba(var(--color), .5);
}

.next-game-teams {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.5rem;
}


.next-game-teams .team {
    --size: 9rem;
    --bg-color: rgba(var(--clr-white), .1);
    --border-color: rgba(var(--clr-accent), .3);
    --fg-color: rgba(var(--color), .7);
    --gap: 2rem;

    font-size: var(--fz-600);
}



.next-game-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.next-game-btn-container .btn {
    margin-top: 30%;
}

.next-game-stars {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    color: rgba(var(--color), .3);
    font-size: .6em;
}


.next-game-barcode {
    position: absolute;
    top: 50%;
    left: -1%;
    width: 25%;
    transform: translateY(-50%) scale(120%) rotate(90deg);
    opacity: .5;
    filter: invert(1);
}

.dark-theme .next-game-barcode {
    filter: invert(0);
}



.next-game-bg-container {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.next-game-bg {
    width: 100%;
    color: rgb(var(--clr-primary));
    filter: drop-shadow(0rem 1.5rem 3rem rgba(0, 0, 0, .05));
    user-select: none;
    pointer-events: none;

    /* stroke-width: 2px; */
    /* stroke: black; */
}

.next-game-bg-accent {
    color: rgb(var(--clr-primary), .1);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: rotate(-8deg);
}


.next-game::before {
    --circle-size: 20rem;
    content: "";
    bottom: calc(-1 * (var(--circle-size) / 3));
    right: calc(-1 * (var(--circle-size) / 2));
    position: absolute;
    width: var(--circle-size);
    height: var(--circle-size);
    background-color: rgb(var(--clr-primary), .1);
    border-radius: 50%;
    z-index: -2;
}





/* ################ TICKETS SECTION ################ */
.container_tickets {
    padding-block: 10rem;
    text-align: center;
}

.container_tickets .text-heading {
    margin-bottom: 1.5rem;
}

.container_tickets .text-body {
    margin-bottom: 4.6rem;
}


.tickets-wrapper {
    --padding-inline: max(var(--container-inline-padding), calc((100vw - var(--container-width)) / 2 + var(--container-inline-padding)));
    margin-inline: min(calc(-1 * var(--container-inline-padding)), calc(-1 * (100vw - var(--container-width) + var(--container-inline-padding) * 2) / 2));
    padding-inline: var(--padding-inline);
    padding-block: 2rem;

    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-color: transparent transparent;
    scrollbar-width: thin;

}

.tickets-wrapper::-webkit-scrollbar {
    background-color: transparent;
    height: 1rem;
}

.tickets-wrapper::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 100rem;
}



.tickets {
    --ticket-width : 30rem;
    --ticket-height : 36rem;
    height: var(--ticket-height);
    width : 100%;
    min-width: max-content;;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.tickets_scrollable {
    padding-right: var(--padding-inline);
}

.tickets_empty .loading-icon {
    display: flex;
}

.ticket {
    flex-shrink: 0;
    flex-grow: 0;
    width: var(--ticket-width);
    height: var(--ticket-height);
    display: grid;
    isolation: isolate;
}

.ticket-bg {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    z-index: -1;
    color: rgb(var(--clr-white));
    filter: drop-shadow(0 .8rem 2rem rgba(0, 0, 0, .04));
}


.ticket-content {
    grid-row: 1;
    grid-column: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ticket-date {
    height: 20%;
    display: flex;
    align-items: center;
    opacity: .5;
}

.ticket-center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.ticket-league {
    font-size: var(--fz-700);
    font-weight: var(--fw-semi-bold);
    opacity: .7;
    margin-bottom: .6rem;
    text-transform: uppercase;
}

.ticket-desc {
    opacity: .5;
    margin-bottom: 2.2rem;
    text-transform: uppercase;
}


.ticket-teams {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.ticket-teams>i {
    font-size: .8em;
    margin-bottom: 2rem;
    color: rgb(var(--clr-primary), .4);
}


.ticket .btn {
    align-self: stretch;
    border-radius: 0 0 .5rem .5rem;
    padding-block: 2rem;
}




/* ############## STADIUM SECTION ################## */
.container_stadium {
    margin-block: 10rem 10rem;
    padding-inline: 8rem;
}

.stadium-top-container {
    margin-bottom: 8rem;
    display: flex;
    gap: 11.6rem;
    align-items: center;
}


.stadium-text .text-accent {
    margin-bottom: 1rem;
}

.stadium-text .text-heading {
    margin-bottom: 3rem;
}


.stadium-text .text-body {
    margin-bottom: 6.4rem;
}

.stadium-img {
    min-width: 40%;
}

.stadium-img svg {
    filter: drop-shadow(1.2rem 1.2rem 2rem rgba(0, 0, 0, .08));
}


.stadium-props {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}


.stadium-prop {
    --bg-color: rgba(var(--clr-primary), .05);

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    padding: 3rem 1.5rem;
    background-color: rgba(var(--clr-white));
    border: 1px solid rgba(var(--clr-black), .1);
    border-radius: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.stadium-prop i {
    color: rgba(var(--clr-primary), .5);
    margin-bottom: 1rem;
    font-size: 1.5em;
}

.stadium-prop h3 {
    margin-bottom: .5rem;
    font-size: var(--fz-700);
    font-weight: var(--fw-extra-bold);
    opacity: .5;
}

.stadium-prop p {
    color: rgba(var(--clr-primary), .5);
    font-size: var(--fz-300);
}


/* ################### FOOTER ################### */

.primary-footer {
    padding-top: 15rem;
}

.footer-form {
    --bg-color: var(--clr-primary);
    --fg-color: var(--clr-white);
    margin-inline: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    position: relative;
    padding: 7.4rem;
    isolation: isolate;
    margin-bottom: 9rem;
}


.footer-form::before,
.footer-form::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .8rem;
}

.footer-form::before {
    background-color: rgb(var(--bg-color));
    box-shadow: 0 .8rem 3rem rgba(0, 0, 0, .06);
    z-index: -1;
}

.footer-form::after {
    background-color: rgba(var(--bg-color), .1);
    transform: rotate(-8deg);
    z-index: -2;
}

.footer-img {
    position: relative;
}

.footer-img img {
    filter: drop-shadow(1.6rem 1.2rem 2rem rgba(0, 0, 0, .2));
    position: absolute;
    width: 100%;
}

.footer-img img:first-child {
    transform: scaleX(-1);
    bottom: 50%;
}

.footer-img img:last-child {
    transform: scaleY(-1);
    top: 50%;
}



.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(var(--fg-color));
}


.footer-text .text-heading {
    text-align: center;
    margin-bottom: 1.5rem;
    color: inherit;
    opacity: .8;
}

.footer-text .text-body {
    text-align: center;
    margin-bottom: 4.6rem;
    color: inherit;
    opacity: .5;
}


.footer-text .input {
    margin-bottom: 3rem;
}


.footer-form .btn {
    align-self: flex-end;
}


.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.footer-bottom>div:first-child {
    width: 20%;
}

.footer-bottom>p {
    opacity: .5;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    opacity: .5;
    font-size: 1.2em;
}








/* ############################################################ */
/* ########################## RESPONSIVE ###################### */
/* ############################################################ */

/* 900px */
@media (max-width : 56.25em) {
    .footer-form {
        grid-template-columns: 1fr;
    }

    .footer-img {
        display: none;
    }
}


/* 900px */
@media (max-width : 53.125em) {

    .container_hero {
        flex-direction: column;
    }

    .container_hero>* {
        max-width: none;
    }

    .hero-text {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .section_next-game {
    	padding: 5rem 0;
	}
    
    .next-game {
    	padding-block: 7rem;
    	background-color: rgb(var(--clr-primary));
        border-radius: 1rem;
    }

    .next-game-content {
        width: 100%;
        padding-inline: 2rem;
    }

    .next-game-content::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;

        border-radius: inherit;
        background-color: rgba(var(--clr-primary), .1);
        transform: rotate(-8deg);
    }

    .next-game-bg-container {
        display: none;
    }



    .stadium-top-container {
        flex-direction: column-reverse;
        gap: 4rem;
    }

    .container_stadium {
        padding-inline: var(--container-inline-padding);
    }

    .stadium-text {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .stadium-props {
        gap: 1rem;
    }

	.primary-footer {
		padding-top: 10rem;
	}

    .footer-form {
        margin-inline: 0;
    }
}


/* 700px */
@media (max-width : 43.75em) {
    .tickets {
        gap: 2rem;
    }

    .stadium-props {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .footer-bottom>div:first-child {
    	display: none;
	}

}



/* 500px */
@media (max-width : 31.25em) {
	
	.next-game {
		margin-inline: calc(-1 * var(--container-inline-padding));
		border-radius: 0;
	}
    
    .next-game-teams {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
    }

    .next-game-btn-container {
        grid-row: 2;
        grid-column: 1/-1;
    }

    .next-game-btn-container .btn {
        margin-top: 0;
    }

    .next-game-stars {
        display: none;
    }
	.container_tickets {
    	padding-block: 10rem 5rem;
	}
	
	.container_stadium {
    	margin-block: 7rem;
	}
	
	.stadium-top-container {
    	margin-bottom: 2rem;
    	gap: 6rem;
	}


    .footer-form {
        padding: 15rem 2rem;
        margin-inline: calc(-1 * var(--container-inline-padding));
    }
    
    
	.footer-form::before,
	.footer-form::after {
        border-radius: 0;
	}
}