body::before,
body::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}


body::before {
    background-image: url(../images/img3.jpg);
    background-position: 90% 30%;
    background-size: cover;
    z-index: -2;
}


body::after {
    background-color: rgb(var(--clr-primary));
    z-index: -1;
    opacity: .3;
}


.primary-header {
    background-color: transparent;
}

.primary-nav,
.primary-header-right .seperator,
.primary-header-login-btn {
    display: none;
}





/* ################ Theme switcher button ########################## */
.switch-theme-container {
    background-color: rgba(var(--clr-white), .6);
}


.primary-header-account {
    color: rgb(var(--clr-primary), .9);
    background-color: rgba(var(--clr-white), .6);
}


/* ################# FORMS SECTIONS ################### */

.container_wrappers {
    display: grid;
    gap: 1rem;
}

.form-wrapper {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    margin-bottom: 3rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12rem;
    padding: 6rem 0;
}

.form-wrapper_selected {
    z-index: 1;
}

.left-side {
    --transition-delay: .3s;
    visibility: hidden;
    opacity: 0;
    /* transition: visibility var(--transition-delay), opacity var(--transition-delay); */
}

.form-wrapper_selected .left-side {
    visibility: visible;
    opacity: 1;
}


.form-wrapper .text-accent {
    margin-bottom: 1rem;
}

.form-wrapper .text-heading {
    margin-bottom: 1rem;
}


.form-wrapper .text-body {
    margin-bottom: 3rem;
}



.input-desc {
    opacity: .3;
    margin-bottom: 1rem;
}

.form-wrapper .input {
    margin-bottom: 2rem;
}


.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.remamber-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.remamber-me label {
    cursor: pointer;
    opacity: .5;
    padding-left: 1rem;
    user-select: none;
}


.forget-password {
    opacity: .3;
}


.form-wrapper .btn {
    margin-bottom: 4rem;
    width: 100%;
}

.link-text {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.link-text p {
    opacity: .5;
}

.link-text a {
    color: rgb(var(--clr-primary));
    background-color: rgba(var(--clr-primary), .1);
    padding: .2rem .6rem;
    border-radius: .4rem;
    border: 1px solid rgba(var(--clr-primary), .1);
}

/* ############### Login ############# */

/* ############### Signup ############# */
.form-wrapper_signup .btn {
    margin-top: 6rem;
}

/* ################ Confirm identy ############## */
.form-wrapper .btn {
    margin-top: 6rem;
}


@media (max-width: 46.875em) {
    body::before,
    body::after {
        display: none;
    }

    .switch-theme-container {
        background-color: rgba(var(--clr-primary), .1);
    }
    
    
    .primary-header-account {
        color: rgb(var(--clr-primary), .9);
        background-color: rgba(var(--clr-primary), .1);
    }


    .primary-header {
        background-color: rgb(var(--clr-white));
    }

    .form-wrapper {
        grid-template-columns: 1fr;
    }

    .right-side {
        display: none;
    }
}