body {
    min-height: 100vh;
}


.section {
    padding-block: 5rem;
}


.section .container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 5rem;
}



/* ############################## left content ############################ */

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgb(var(--clr-primary));
    padding: 2rem;
    border: 1px solid rgba(var(--clr-black),.1);
    border-radius: .5rem;
}


.stadium-wrapper {
    margin-bottom: 4rem;
    transition: opacity .2s;
}


.stadium-wrapper_disabled {
    pointer-events: none;
    opacity: .5;
}

#stadium-bg {
    fill: rgb(var(--clr-white));
    fill-opacity: 1;
    opacity:0;
    stroke: rgb(var(--clr-white));
    stroke-width : .4rem; 
}

#stadium-bleachers {
    transform: scale(.9);
    transform-origin: center;
}

.btype {
    fill: rgb(var(--clr-white));
    fill-opacity: .1;
    
    stroke: rgb(var(--clr-primary));
    stroke-width: .8rem;
    stroke-opacity: 1;
    stroke-linecap: round;
    stroke-linejoin: round;

    cursor: pointer;
    transition: fill-opacity .2s, fill .2s;
}

.btype:hover{
    fill-opacity: .5;
}

.btype_selected,
.btype_selected:hover {
    fill-opacity: 1;
    fill: rgb(var(--clr-accent));
    pointer-events: none;
}


.stadium-filters {
    border-radius: .5rem;
    background-color: rgba(var(--clr-white),.1);
    
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.stadium-filter p {
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: rgba(var(--clr-white),.5);
}


.stadium-filter:first-child {
    width: 30%;
}

.stadium-filter sub {
    font-size: .8em;
}

.price-range {
    isolation: isolate;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.price-range input {
    flex-grow: 1;
}

.price-range output {
    width: 2rem;
    color: rgba(var(--clr-white),.5);
    font-weight: var(--fw-semi-bold);
}


.ticket-numbers {
    display: flex;
    gap: 1.6rem;
}

.ticket-number {
    position: relative;
}

.ticket-number input {
    appearance: none;
    width: 3rem;
    height: 3rem;
    background-color: rgba(var(--clr-accent),.1);
    border: 2px solid rgba(var(--clr-black),.1);
    border-radius: .5rem;
    cursor: pointer;
}

.ticket-number input:checked {
    border-color: rgba(var(--clr-accent),.7);
}

.ticket-numbers label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: var(--fw-bold);
    color: rgba(var(--clr-accent),.4);
    cursor: pointer;
    user-select: none;
}

.ticket-number input:checked + label {
    color: rgba(var(--clr-accent),.7);
}

/* ############################## right content ############################ */

.game-wrapper {
    background-color: rgb(var(--clr-white));
    border: 1px solid rgba(var(--clr-black),.1);
    border-radius: .5rem;
    box-shadow: 0 .8rem 2rem .4rem rgba(0, 0, 0, 0.02);
    padding: 3rem 4rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    
    position: relative;
}


.game-wrapper_empty > *:not(.loading-icon){
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.game-wrapper_empty .loading-icon {
    position: absolute;
    display: flex;
}

.game-wrapper_err>*:not(.game-err, a) {
    display: none;
}

.game-err {
    margin-top: 2rem;
    font-weight: var(--fw-medium);
    opacity: .3;
    
    display: none;
}

.game-wrapper_err .game-err {
    display: block;
}


.game-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-inline: 2rem;
}


.game-date {
    opacity: .6;
}


.game-content .team {
    --size : 6rem;
}

.game-center p:first-child {
    font-size: var(--fz-700);
    font-weight: var(--fw-bold);
    margin-bottom: .6rem;
    opacity: .8;
}

.game-center p:last-child {
    opacity: .5;
}

.game-wrapper a {
    align-self: flex-end;
    color: rgb(var(--clr-primary));
    margin-top: 1rem;
}



.ticket-card {
    background-color: rgb(var(--clr-white));
    border: 1px solid rgba(var(--clr-black),.1);
    box-shadow: 0 .8rem 2rem .4rem rgba(0, 0, 0, 0.02);
    border-radius: .5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 0 4rem;

    position: relative;
}


.ticket-card-leading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(var(--clr-white), .8);
    border-radius: inherit;
    
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
}

.ticket-card_loading-state .ticket-card-leading {
    opacity: 1;
    visibility: visible;
}

.ticket-card-leading i {
    display: flex;
}

.ticket-element {
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-element:not(:last-child) {
    border-bottom: 2px solid rgba(var(--clr-black),.05);
}


.ticket-element-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    opacity: .8;
    font-size: var(--fz-700);
    font-weight: var(--fw-bold);
    margin-bottom: .4rem;
}

.ticket-element-title  i {
    color: rgba(var(--clr-primary),.8);
    font-size: var(--fz-500);
}


.ticket-element-text p {
    opacity: .5;
}



.show-3d-btn ,
.control-ticket-number-btn {
    width: 4rem;
    height: 4rem;
    background-color: rgba(var(--clr-primary),.1);
    color: rgb(var(--clr-primary));
    border-radius: 50%;
}


.control-ticket-number-wrapper {
    display: flex;
    gap: 1rem;
}


.right-side > .btn {
    width: 100%;
}



/* 800px */
@media (max-width : 50em) {
    .section .container {
        grid-template-columns: 1fr;
    }
}


/* 430px */
@media (max-width : 26.875em) {
    #stadium-bleachers {
        transform: scale(1);
    }
    .stadium-filters {
        flex-direction: column;
        gap: 2rem;
    }
    
    .stadium-filter {
        width: 100%;
    }

    .stadium-filter:first-child {
        width: 100%;
    }
}