body {
    min-height: 100vh;
}


.section {
    padding-block: 5rem;
}


.section .container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 5rem;
}



/* ############################## left content ############################ */

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(var(--clr-primary));
    padding: 2rem;
    border: 1px solid rgba(var(--clr-black), .1);
    border-radius: .5rem;
}


.stadium-wrapper {
    margin-bottom: 4rem;
    transition: opacity .2s;
}


.stadium-wrapper_disabled {
    pointer-events: none;
    opacity: .5;
}

#stadium-bg {
    fill: rgb(var(--clr-white));
    fill-opacity: 1;
    opacity: 0;
    stroke: rgb(var(--clr-white));
    stroke-width: .4rem;
}

#stadium-bleachers {
    transform: scale(.9);
    transform-origin: center;
}

.btype {
    fill: rgb(var(--clr-white));
    fill-opacity: .1;

    stroke: rgb(var(--clr-primary));
    stroke-width: .8rem;
    stroke-opacity: 1;
    stroke-linecap: round;
    stroke-linejoin: round;

    cursor: pointer;
    transition: fill-opacity .2s, fill .2s;
}

.btype:hover {
    fill-opacity: .5;
}

.btype_selected,
.btype_selected:hover {
    fill-opacity: 1;
    fill: rgb(var(--clr-accent));
    pointer-events: none;
}


.stadium-filters {
    border-radius: .5rem;
    background-color: rgba(var(--clr-white), .1);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.6rem;
    padding: 2rem 4rem;
}

.stadium-filter p {
    margin-bottom: .8rem;
    text-transform: uppercase;
    color: rgba(var(--clr-white), .5);
}


.stadium-filter:first-child {
    /* width: 30%; */
}

.stadium-filter sub {
    font-size: .8em;
}

.price-range {
    isolation: isolate;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.price-range input {
    flex-grow: 1;
}

.price-range output {
    width: 2rem;
    color: rgba(var(--clr-white), .5);
    font-weight: var(--fw-semi-bold);
}


.ticket-numbers {
    display: flex;
    gap: 1.6rem;
}

.ticket-number {
    position: relative;
}

.ticket-number input {
    appearance: none;
    width: 3rem;
    height: 3rem;
    background-color: rgba(var(--clr-white), .1);
    border: 2px solid rgba(var(--clr-black), .1);
    border-radius: .5rem;
    cursor: pointer;
}

.ticket-number input:checked {
    border-color: rgba(var(--clr-white), .7);
}

.ticket-numbers label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: var(--fw-bold);
    color: rgba(var(--clr-white), .4);
    cursor: pointer;
    user-select: none;
}

.ticket-number input:checked+label {
    color: rgba(var(--clr-white), .7);
}

/* ############################## right content ############################ */
.right-side {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.game-wrapper {
    background-color: rgb(var(--clr-white));
    border: 1px solid rgba(var(--clr-black), .1);
    border-radius: .5rem;
    box-shadow: 0 .8rem 2rem .4rem rgba(0, 0, 0, 0.02);
    padding: 3rem 4rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    position: relative;
}


.game-wrapper_empty>*:not(.loading-icon) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.game-wrapper_empty .loading-icon {
    position: absolute;
    display: flex;
}

.game-wrapper_err>*:not(.game-err, a) {
    display: none;
}

.game-err {
    margin-top: 2rem;
    font-weight: var(--fw-medium);
    opacity: .3;

    display: none;
}

.game-wrapper_err .game-err {
    display: block;
}


.game-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 2rem;
}


.game-date {
    opacity: .6;
}


.game-content .team {
    --size: 6rem;
}

.game-center p:first-child {
    font-size: var(--fz-700);
    font-weight: var(--fw-bold);
    margin-bottom: .6rem;
    opacity: .8;
}

.game-center p:last-child {
    opacity: .5;
}

.game-wrapper a {
    align-self: flex-end;
    color: rgb(var(--clr-primary));
    margin-top: 1rem;
}



.ticket-card {
    --circle-size : 6rem;
    filter: drop-shadow(0 .8rem 2rem rgba(0, 0, 0, 0.05))
        drop-shadow(1px 1px 0 rgba(var(--clr-black), .1))
        drop-shadow(-1px -1px 0 rgba(var(--clr-black), .1));
    border-radius: .5rem;
    padding: 0 4rem;
    
    overflow: hidden;

    position: relative;
}
.ticket-card-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    /* background-color: red; */
}

.ticket-card-bg::after {
    content:'';
    position:absolute;
    top: 0;
    left: 0;
    border-radius:50%;
    width: 100%; 
    height: 100%;
    box-shadow: 0px 0px 0px 2000px rgb(var(--clr-white));
}


.ticket-card-leading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(var(--clr-white), .8);
    border-radius: inherit;

    opacity: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
}

.ticket-card_loading-state .ticket-card-leading {
    opacity: 1;
    visibility: visible;
}

.ticket-card-leading i {
    display: flex;
}




.ticket-element {
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.ticket-element:not(:last-child)::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 2px dashed rgba(var(--clr-black), .0);
    opacity: .1;
    background-image: repeating-linear-gradient(-1deg, #333333, #333333 19px, transparent 19px, transparent 35px, #333333 35px), repeating-linear-gradient(89deg, #333333, #333333 19px, transparent 19px, transparent 35px, #333333 35px), repeating-linear-gradient(179deg, #333333, #333333 19px, transparent 19px, transparent 35px, #333333 35px), repeating-linear-gradient(269deg, #333333, #333333 19px, transparent 19px, transparent 35px, #333333 35px);
    background-size: 3px 100%, 100% 3px, 3px 100%, 100% 3px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
}


.ticket-element-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    opacity: .8;
    font-size: var(--fz-700);
    font-weight: var(--fw-bold);
    margin-bottom: .4rem;
}

.ticket-element-title i {
    color: rgba(var(--clr-primary), .8);
    font-size: var(--fz-500);
}


.ticket-element-text p {
    opacity: .5;
}



.show-3d-btn,
.control-ticket-number-btn {
    --size: 3rem;
    width: var(--size);
    height: var(--size);
    background-color: rgba(var(--clr-primary), .1);
    color: rgb(var(--clr-primary));
    border-radius: .4rem;
}


.show-3d-btn {
    --size: 4rem;
    position: relative;
    isolation: isolate;
    border-radius: 50%;
    transition: transform .2s;
}

.show-3d-btn:hover {
    transform: scale(1.2);
}

.show-3d-btn::before,
.show-3d-btn::after {
    content: "";
    position: absolute;
    top: -20%;
    left: -20%;
    width: 140%;
    height: 140%;
    z-index: -1;
    background-color: rgb(var(--clr-primary), .5);
    border-radius: inherit;
}

.show-3d-btn::before {
    animation: wavy 1.2s infinite;
}

.show-3d-btn::after {
    animation: wavy 2s infinite;
}

@keyframes wavy {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}


.control-ticket-number-wrapper {
    display: flex;
    gap: 1rem;
}


.right-side>.btn {
    width: 100%;
}




.panorama-360-wrapper {
    --width: 90%;
    --height: 90%;
    position: fixed;
    width: var(--width);
    height: var(--width);
    top: calc((100% - var(--width))/2);
    left: calc((100% - var(--height))/2);
    z-index: 99999999;

    border-radius: 1rem;
    box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, .05);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;

    transition: opacity .2s, visibility .2s;
}

.panorama-360-wrapper_show {
    opacity: 1;
    visibility: visible;
}


.panorama-360-wrapper::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.panorama-360-exit-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: inherit;

    width: 3rem;
    height: 3rem;
    border-radius: .3rem;
    background-color: rgba(var(--clr-primary), .8);
    box-shadow: 0 .4rem .8rem rgba(var(--clr-primary), .1);
    color: rgb(var(--clr-white), .8);
    border: 1px solid rgb(var(--clr-primary));
    font-size: var(--fz-400);
}

.panorama-360-exit-btn::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#panorama-360-view {
    width: 100%;
    height: 100%;

    border-radius: inherit;
    background-color: rgb(var(--clr-white));
}



/* 800px */
@media (max-width : 50em) {
    .section .container {
        grid-template-columns: 1fr;
    }
}


/* 700px */
@media (max-width : 43.75em) {
    #stadium-bleachers {
        transform: scale(1);
    }
}

@media (max-width : 43.75em) or (max-height : 31.25em) {
    .panorama-360-wrapper {
        --width: 100%;
        --height: 100%;
        border-radius: 0;
    }
}

/* 500px */
@media (max-width : 31.25em) {
    .section {
        padding-block: 0rem 5rem;
    }

    .section .container {
        gap: 3rem;
    }

    .left-side {
        padding-block: 7rem 2rem;
        margin-inline: calc(-1 * var(--container-inline-padding));
        border-radius: 0;
    }
}