.container_main {
    margin-block: 4rem;
}

.go-back-link {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;

    color: rgba(var(--clr-black), .4);
}


.tickets {
    display: flex;
    /* flex-direction: row-reverse; */
    gap: 4.8rem;
    margin-inline: min(calc(-1 * var(--container-inline-padding)), calc(-1 * (100vw - var(--container-width) + var(--container-inline-padding) * 2) / 2));
    padding-inline: max(var(--container-inline-padding), calc((100vw - var(--container-width)) / 2 + var(--container-inline-padding)));
    padding-block: 3rem 5rem;
    overflow-x: auto;
    overflow-y: hidden;



    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
}


.tickets::-webkit-scrollbar {
    background-color: transparent;
    height: 1rem;
}

.tickets::-webkit-scrollbar-thumb {
    /* background-color: rgb(var(--clr-white)); */
    background-color: transparent;
    border-radius: 100rem;
}



.ticket {
    --size: 36rem;
    flex-shrink: 0;
    flex-grow: 0;
    width: var(--size);
    display: grid;
    position: relative;
    isolation: isolate;
}


.ticket-content {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;

    display: grid;
    grid-template-columns: 2fr min-content;
    grid-template-rows: 1fr 1.855fr 3.145fr;
    align-items: center;
    column-gap: 2rem;

    padding-inline: 4.4rem;
}


.ticket-date {
    font-weight: var(--fw-medium);
    color: rgba(var(--clr-black), .8);
}


.ticket-options {
    display: flex;
    justify-content: center;
    align-items: center;
}



.ticket-options-btn {
    --size: 3rem;
    width: var(--size);
    height: var(--size);

    margin-inline: auto;

    background-color: rgba(var(--clr-primary), .1);
    color: rgba(var(--clr-primary), .9);
    border-radius: 50%;
}

.options-btn_showdrop {
    border: .2rem solid rgba(var(--clr-primary), .2);
    box-shadow: 0 .8rem 1rem rgba(var(--clr-primary), .1);
}  


.ticket-options .dropdown {
  --top : 8rem;
  --right : -2rem;
  --indecator-position : 8rem;
    
  filter: drop-shadow(1px 1px 0 rgba(var(--clr-black), .1)) drop-shadow(-1px -1px 0 rgba(var(--clr-black), .1)) drop-shadow(0 0 2rem rgba(0, 0, 0, 0.1));
}


.download-btn:disabled {
    pointer-events: none;
    opacity: .3;
}


.ticket-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.ticket-info-element p {
    opacity: .5;
    margin-bottom: .8rem;
}

.ticket-info-element h2 {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-weight: var(--fw-bold);
    font-size: var(--fz-700);
    opacity: .8;
}

.ticket-info-element i {
    font-size: .8em;
    color: rgb(var(--clr-primary));
}


.ticket-teams {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.ticket-teams .team {
    --size: 4.8rem;
}

.ticket-teams i {
    font-size: .8em;
    color: rgba(var(--clr-primary), .1);
}


.ticket-qrcode-img {
    width: 17rem;
}

.ticket-qrcode-img img {
    min-width: 130%;
    margin: -3rem;
}

.dark-theme .ticket-qrcode-img img {
    filter: invert(1);
}

.ticket-qrcode-string {
    writing-mode: vertical-lr;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .4rem;
    opacity: .3;
}


.add-tickets-btn {
    --size: 7rem;
    grid-row: 2;
    grid-column: span 2;
    justify-self: center;

    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--size);
    height: var(--size);

    position: relative;
    font-size: var(--fz-600);
    border-radius: 50%;
    background-color: rgba(var(--clr-primary), .1);
    color: rgba(var(--clr-primary), .6);
}

.add-tickets-btn::before {
    content: "";
    position: absolute;
    width: 130%;
    height: 130%;

    border-radius: inherit;
    border: .3rem dashed rgba(var(--clr-primary), .2);
}



.ticket-bg {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
}

.ticket-bg svg {
    width: 100%;
}

#ticket-bg-board {
    fill: rgb(var(--clr-white));
    stroke: rgba(var(--clr-black), .1);
}

#ticket-bg-lines {
    fill: rgba(var(--clr-black), .1)
}

.ticket::before,
.ticket::after {
    content: "";
    position: absolute;
    height: 20%;
    border-radius: 1rem;
    background-color: rgba(var(--clr-primary), .04);
}

.ticket::before {
    bottom: -1.3rem;
    left: 5%;
    width: 90%;
    z-index: -1;
}

.ticket::after {
    bottom: -2rem;
    left: 8%;
    width: 84%;
    z-index: -2;
}




.bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.bottom-wrapper>p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 45%;
    color: rgba(var(--clr-black), .3);
    line-height: 1.5;
}



/* 700px */
@media (max-width : 43.75em) {
    .tickets {
        gap: 2rem;
    }
    .bottom-wrapper>p {
        width: 90%;
    }
}


/* 500px */
@media (max-width : 31.25em) {
    .bottom-wrapper {
        flex-direction: column;
        align-items: start;
    }
}